body {
	background-image: 
	url("sci bg.jpg") ;
	background-repeat: no-repeat;
	background-size: 1960px 980px;
}
h1{
	color: white;
}
.grid{
	grid-template-columns: 600px 600px 600px;
	grid-template-rows: 400px 400px 400px;
	display: grid;
	height:50%;
	width: 100%;
	margin-left: 50px;
}
.item1{
}
.item2{
	color: white;
	font-size: 30px;
	font-weight: bold;
}
.item3{
	color: black;
	font-size: 27px;
	background-color: white;
	background-size: 100% 50%;
}
p {
	`background-color: white;
}
.item4{
	color: black;
	font-size: 30px;
	background-color: white;
}
.item5{
	color: black;
	font-size: 30px;
	font-weight: bold;
}
a{
	color: black;
}
.item6{
}
img{
	height: 300px;
	width: 600px;
}